<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- le driver log automatiquement dans org.mongodb.driver.* -->
    <!-- voir https://mongodb.github.io/mongo-java-driver/4.2/driver/reference/logging/ -->
    <logger name="org.mongodb.driver.connection" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
